#add-block-uptime {
  padding: 10px;
  border: 1px solid #cad1d7;
  border-radius: 0.375rem;
  margin-bottom: 30px;
}

.inline-nr-input {
  width: 5em;
  display: inline;
  margin: 0 10px;
}

#disabled-hours {
  padding-left: 30px;
}
