<!-- Mobile nav-->
<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Brand -->
    <!--    <a class="navbar-brand pt-0" href="./index.html">
          <img src="./assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
        </a>-->
    <!-- User -->
    <ul class="nav align-items-center d-md-none" *ngIf=" user$ | async; let user ">
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="Image placeholder" src="{{   user.picture }}">
              </span>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
          <a href="#!" (click)="logout()" class="dropdown-item">
            <i class="ni ni-user-run"></i>
            <span>Logout</span>
          </a>
        </div>
      </li>
    </ul>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a href="./index.html">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main"
                    aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- Form -->
      <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge">
          <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fa fa-search"></span>
            </div>
          </div>
        </div>
      </form>
      <!-- Navigation -->
      <h6 class="navbar-heading text-muted">Dashboards</h6>
      <ul class="navbar-nav">

        <li *ngFor="let dashboard of allDashboards$ | async " class="nav-item {{ isActive(dashboard.id) ? 'active' : '' }} ">
          <a class=" nav-link {{ isActive(dashboard.id) ? 'active' : '' }}" href="/dashboard/{{ dashboard.id }}">
            <i class="ni ni-tv-2 text-primary"></i> {{ dashboard.name }}
          </a>
        </li>

      </ul>
      <button class="btn btn-icon btn-2 btn-secondary" type="button" data-toggle="modal" data-target="#addDashboardModal">
        <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
        <span class="btn-inner--text">Add dashboard</span>
      </button>
      <!-- Divider -->
      <hr class="my-3">
      <!-- Heading -->
      <ul class="navbar-nav mb-md-3">
        <li class="nav-item">
          <a class="nav-link" href="https://whatsrunning.io">
            <i class="ni ni-spaceship"></i> Support
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="main-content">
  <!-- Navbar -->
  <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
    <div class="container-fluid">
      <!-- Brand -->
      <h4 class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="./index.html">{{ (dashboard$ | async)?.name }}</h4>
      <!-- Team -->
      <div *ngIf=" user$ | async; let user " class="navbar-nav align-items-center d-none d-md-flex" style="margin-left: 15rem;">
        <span class="avatar avatar-sm rounded-circle">
          <img alt="Team member" src="https://cdn.pixabay.com/photo/2017/06/13/12/53/profile-2398782_960_720.png">
        </span>
        <span class="avatar avatar-sm rounded-circle">
          <img alt="Team member" src="https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg">
        </span>
        <span class="avatar avatar-sm rounded-circle">
          <img alt="Team member" src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a1/NafSadh_Profile.jpg/768px-NafSadh_Profile.jpg">
        </span>
      </div>
      <!-- Search -->
      <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
        <div class="form-group mb-0">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input class="form-control" placeholder="Search" type="text">
          </div>
        </div>
      </form>
      <!-- User -->
      <ul *ngIf=" user$ | async; let user " class="navbar-nav align-items-center d-none d-md-flex">
        <li class="nav-item dropdown">
          <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="{{user.email}}" src="{{ user.picture }}">
                </span>
              <div class="media-body ml-2 d-none d-lg-block">
                <span class="mb-0 text-sm  font-weight-bold">{{ user.email }}</span>
              </div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <!--            <a href="./examples/profile.html" class="dropdown-item">
                          <i class="ni ni-support-16"></i>
                          <span>Support</span>
                        </a>
                        <div class="dropdown-divider"></div> --->
            <a href="#" (click)="logout()" class="dropdown-item">
              <i class="ni ni-user-run"></i>
              <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!-- End Navbar -->
  <!-- Header -->
  <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
  </div>

  <div class="container-fluid mt--7">

    <button class="btn btn-icon btn-3 btn-secondary" type="button" data-toggle="modal" data-target="#addBlockModal">
      <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>

      <span class="btn-inner--text">Add block</span>

    </button>

    <!-- Card stats -->
    <div class="row" *ngIf="dashboard$ | async as dashboard">

      <app-block *ngFor='let block of dashboard.blocks' [block]="block" [dashboardId]="dashboard.id"></app-block>

    </div>

    <div *ngIf="loading" class="row" style="padding: 10% 40%;">
      <app-loader></app-loader>
    </div>

    <!-- Add Block Modal -->
    <div class="modal fade" id="addBlockModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add new block</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="addBlockForm">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" id="blockName" placeholder="Name" formControlName="name">
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="uptimeCheck" formControlName="uptimeCheck" type="checkbox"
                           (change)="toggleUptime($event.target.checked)">
                    <label class="custom-control-label" for="uptimeCheck">Measure uptime</label>
                  </div>
                  <div id="add-block-uptime" hidden>
                    <div class="form-group">
                      <input type="text" class="form-control" id="blockUrl" placeholder="https://your-url" formControlName="uptimeUrl">
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="disableDuring" formControlName="uptimeDisabledHours" type="checkbox"
                             (change)="toggleDisableHours($event.target.checked)">
                      <label class="custom-control-label" for="disableDuring">Disable during certain hours</label>
                    </div>
                    <div class="form-group" id="disabled-hours" hidden>
                      <span>Disable from</span> <input type="number" min="0" max="24" class="form-control inline-nr-input" value="18"
                                                       formControlName="disableFrom"> to
                      <input type="number" min="0" max="24" class="form-control inline-nr-input" value="6" formControlName="disableTo">
                    </div>
                    <div class="form-group">
                      Every <input type="number" min="5" max="60" class="form-control inline-nr-input" placeholder="60" value="60" step="5"
                                   formControlName="uptimeInterval" [attr.disabled]="!isPro()?'':null"> minutes
                    </div>
                    <div class="form-group">
                      <input type="text" placeholder="Webhook for notifying downtime" class="form-control"
                             [attr.disabled]="!isPro()?'':null" formControlName="uptimeWebhook"/>
                    </div>
                    <a [href]="environment.homepage" [attr.hidden]="isPro()?'':null">Upgrade to PRO to get higher frequency uptime checks,
                      webhooks and alot more!</a>
                  </div>
                </div>
              </div>
              <!-- BUTTONS -->
              <div class="row" *ngFor="let i of [1, 2, 3]">
                <div class="col-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="button{{i}}Name" placeholder="Button{{i}} label"
                           formControlName="button{{i}}Label">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input type="url" class="form-control" id="button{{i}}Url" placeholder="http://your-service{{i}}/logs"
                           formControlName="button{{i}}Url">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" type="button" class="btn btn-primary" (click)="addBlock()">Add</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Subscribe  modal-->
    <button id="openSubscribeModal" [hidden]="true" data-toggle="modal" data-target="#subscribeModal">Open Modal</button>
    <div class="modal fade" id="subscribeModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content bg-gradient-danger">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="py-3 text-center">
              <i class="ni ni-bell-55 ni-3x"></i>
              <h4 class="heading mt-4">Upgrade to PRO for this feature</h4>
              <p>{{subscriptionMessage}}</p>
              <p>Upgrade to PRO to get more blocks, more dashboards, more teammembers AND better uptime checks!</p>
            </div>
          </div>
          <div class="modal-footer">
            <a role="button" class="btn btn-white" [href]="environment.homepage">Yes, I am PRO</a>
            <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Add dashboard  modal-->
    <div class="modal fade" id="addDashboardModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="dashboardTitle">Add new dashboard</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="addDashboardForm">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" id="dashboardName" placeholder="Name" formControlName="name">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" type="button" class="btn btn-primary" (click)="createDashboard()">Create</button>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
